.placeholder{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}
.placeholder img{
    width: auto;
    height: 100%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle !important;
    border-top: 1px solid #ddd;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
}
.table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle !important;
    border-top: 0;
}
.truncate{
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    max-height: 55px;
}
.panel-default {
    border-color: #ddd;
    border-radius: 0;
    margin-top: 30px;
}
.panel-body {
    padding: 30px;
}
.contain-spinner{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000030;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain-spinner .spinner {
    width: 40px;
    height: 40px;
}