
<div class="page-header">
    <h1>All Feeds <small>see all feeds below!</small></h1>
</div>

<div class="panel panel-default">
    <div class="contain-spinner" *ngIf="activateLoader"><div class="spinner"></div></div>
    <div class="panel-body">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th class="col-md-1">File</th>
                    <th class="col-md-2">Title</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">State</th>
                    <th class="col-md-4">Body</th>
                    <th class="col-md-1">Action</th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let data of feeds">
                    <td><div class="placeholder"><img src="{{ data.imageUrl }}" alt=""></div></td>
                    <td><p>{{ data.title }}</p></td>
                    <td><p>{{ data.date }}</p></td>
                    <td><p>{{ data.state }}</p></td>
                    <td><p class="truncate" innerHTML="{{data.body}}"></p></td>
                    <td>
                        <div style="display:flex;">
                            <button class="btn btn-info" type="submit" style="margin-right:5px;" data-toggle="modal" data-target="#myModal" (click)="show(data)"> <i class="glyphicon glyphicon-eye-open"></i> </button>
                            <button class="btn btn-danger" (click)="delete(data)" type="submit"> <i class="glyphicon glyphicon-trash"></i> </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="..." style="display: flex;justify-content: center;margin-top: 30px;">
            <button type="button" class="btn btn-default" (click)="previous()">Previous</button>
            <button type="button" class="btn btn-default" (click)="next()">Next</button>
        </div>              
    </div>
</div>

<!-- Modal -->
<div *ngIf="singleFeed" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ singleFeed.title }}</h4>
            </div>
            <div class="modal-body">
                <img src="{{ singleFeed.imageUrl}}" alt="" style="margin-bottom: 20px; width: 100%;">
                <p style="line-height: 1.7em;"><strong>STATE: </strong>{{ singleFeed.state }}</p>
                <p style="line-height: 1.7em;"><strong>PROGRAM: </strong>{{ singleFeed.program }}</p>
                <p style="line-height: 1.7em;"><strong>PPA: </strong>{{ singleFeed.ppa }}</p>
                <p style="line-height: 1.7em;" innerHTML="{{singleFeed.body}}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>