.navbar-nav li, .search-1 {
    height: 80px !important;
}
.navbar-default {
    background: linear-gradient(to right, #369E42, #1899C8) !important;
    border: none !important;
    border-radius: 0;
}
.logo-img img{
    height: 50px;
    margin: 15px 30px 0 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 500;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
}
.navbar-nav li a {
    height: inherit !important;
    padding: 10px 20px !important;
    text-align: center !important;
}
.admin-header {
    background: linear-gradient(to right, #369E42, #1899C8) !important;
    border:none !important;
}
.navbar-nav .open > a, .navbar-nav > .active > a, ul li a:hover,
.navbar-nav .open > a, .navbar-nav > .active > a, ul li a:hover {
    background: #F7B941 !important;
}
.navbar-nav li a {

    height: inherit !important;
    padding: 10px 20px !important;
    text-align: center !important;

}
.navbar-nav li a:focus {
    
}
.navbar-nav li, .search-1 {
    height: 80px !important
}
.navbar-brand {
    padding: 10px 20px 10px 20px !important;
    margin-right:40px;
    border-right:none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
footer p{
    font-size: 12px;
    color: #009f69;
}
