/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f9f9f9 !important;
}
.form-control{
    border-radius: 0;
    height: 45px;
}
.form-control:focus {
    border-color: #009f76;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 159, 99, 0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 160, 77, 0.09);
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0;
    padding: 10px 50px;
}
.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    outline: none;
}
.alert{
    cursor: inherit;
    background: #038f4e;
    position: absolute;
    right: 0;
    top: 15%;
    height: 50px;
    display: block;
    padding: 10px 50px;
    transition: 3s;
    padding-top: 15px;
}
.alert p {
    color: white;
}
.alert-success {
    border-color: #009e8f;
}
.active {
    background: #F7B941 !important;
}
.spinner {
    width: 20px;
    height: 20px;
    background-color: #00a054;
    margin: 0 10px;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}  
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}  
@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
.navbar-nav li a:focus {
    background: #F7B941 !important;
}
.fr-box.fr-basic .fr-element {
    color: #000;
    padding: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: auto;
    min-height: 200px !important;
}
.fr-toolbar.fr-top {
    top: 0;
    border-radius: 0 !important;
    background-clip: padding-box;
    box-shadow: none !important;
    border: 1px solid gainsboro;
}
.fr-box.fr-basic.fr-top .fr-wrapper{
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 1px solid gainsboro;
}