
<div class="page-header">
    <h1>Add Feed (NPower Insights) <small>complete form below!</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <form ngNativeValidate [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="title" required placeholder="Enter feed title">
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <select formControlName="state" required id="state" class="form-control">
                            <option value="">Select state</option>
                            <option *ngFor="let stateList of states" [value]="stateList.state">{{stateList.state}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <select formControlName="program" required id="program" class="form-control">
                            <option value="">Select program</option>
                            <option value="N-Agro">N-Agro</option>
                            <option value="N-Teach">N-Teach</option>
                            <option value="N-Health">N-health</option>
                            <option value="N-Tax">N-Tax</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="ppa" required placeholder="Enter place of primary assignment">
            </div>
            <div class="form-group">
                <!-- <editor apiKey="test" [init]="{plugins: 'link'}"></editor> -->
                <!-- <textarea rows="10" class="form-control" formControlName="body" required placeholder="Enter feed body"></textarea> -->
                <textarea [froalaEditor]="config" formControlName="body" required></textarea>
            </div>
            <div class="form-group">
                <input type="file" id="exampleInputFile" (change)="handleUpload($event)">
                <p class="help-block">File size should not exceed 1mb!</p>
            </div>
            <button type="submit" class="btn btn-default"><span *ngIf="!activateLoader">Post</span> <div *ngIf="activateLoader" class="spinner"></div></button>
        </form>
    </div>
</div>