.panel-default {
    border-color: #ddd;
    border-radius: 0;
    margin-top: 30px;
}
.panel-body {
    padding: 30px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
}